.cabeçalho{
background-color: rgb(0, 122, 223); 
}
.introduçao{
    display: flex;
    justify-content: space-around;
    background-color: rgb(134, 231, 246);
}
.imagempimenta{
    width: 45%;
}
.paragrafo1{
    font-size: 20px;
}
.titulo_embaixo{
    display: list-item;
}
.cabeçalho2{
    background-color: #7ce7f0;
}
.imagempimenta2{
    width: 20%;
}
.semana1{
    background-color: #0076d6;
}
.paragrafo2{
    font-size: 20px;
}
.texto{
    display: flex;
    justify-content: sp;
}