.cabeçalho{
background-color: rgb(7, 252, 244); 
}
.introduçao{
    display: flex;
    justify-content: space-around;
    background-color: rgb(134, 231, 246);
}
.imagempimenta{
    width: 45%;
}
.paragrafo1{
    font-size: 20px;
}
.titulo_embaixo{
    display: list-item;
}
.cabeçalho2{
    background-color: #7ce7f0;
}
.imagempimenta2{
    width: 25%;
}