.cabeçalho{
background-color: rgb(2, 118, 250); 
}
.introduçao{
    display: flex;
    justify-content: space-around;
    background-color: rgb(73, 197, 255);
}
.imagempimenta{
    width: 45%;
}
.paragrafo1{
    font-size: 20px;
}
.titulo_embaixo{
    display: list-item;
}
.cabeçalho2{
    background-color: #00f020;
}
.imagempimenta2{
    width: 25%;
}